body {
    margin: 0;
    background-color: #ffffff;
    background-image: url("./Alternating-Arrowhead.svg");
    /* background by SVGBackgrounds.com */
}

div.contact {
    font-size: 24px;
    background-color: blue;
    border-radius: 100px;
    border-color: black;
    border-style: solid;
}