body {
    margin: 0;
    background-color: #ffffff;
    background-image: url("./Alternating-Arrowhead.svg");
    /* background by SVGBackgrounds.com */
}

div.contact {
    vertical-align: middle;
    text-align: center;
    text-shadow: 0 0 30px black;
    color: rgb(0, 119, 255);
    font-weight: bold;
}